include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        .container
            h1 Hello world! 
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sed a, consequatur officia itaque veritatis quaerat in at quos mollitia odit laboriosam repudiandae amet laudantium autem sunt accusamus reprehenderit ipsum.
                | Consequuntur, necessitatibus soluta? Cumque, suscipit. Omnis hic accusantium pariatur recusandae placeat, autem enim perferendis facilis sit cumque nam harum dolore impedit distinctio nesciunt, quia vel aperiam suscipit tempore. Nemo, impedit?
            +image('anime2.jpg')
            +image('anim.png')
            .box 
            .box1